PORT=3000
MONGODB_URI=mongodb://localhost:27017/cashflow
NODE_ENV=development
JUPITER_API_KEY=your_jupiter_api_key_here
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
DRIFT_PRIVATE_KEY=your_drift_private_key_here
DEV_PRIVATE_KEY=your_dev_private_key_here # for development & testing. no need for prod
JITO_AUTH_UUID=your_jito_auth_uuid_here
ADMIN_PRIVATE_KEY=your_base64_private_key # payer of lookup table updates
BACKEND_URL=https://api-dev.cashflow.fun
BREVO_API_KEY=your_brevo_api_key_here
JWT_SECRET=your_jwt_secret
MOBILE_SOLANA_RPC=secured_rpc_for_frontend
RESPONSE_SIGNING_KEY=private_key_to_verify_response

TWITTER_CLIENT_ID=your_twitter_client_id
TWITTER_CLIENT_SECRET=your_twitter_client_secret
TWITTER_BEARER_TOKEN=your_twitter_bearer_token
DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_BOT_USERNAME=your_telegram_bot_username
ADMIN_PASSWORD=your_admin_password

DO_SPACES_KEY=your_do_spaces_key
DO_SPACES_SECRET=your_do_spaces_secret
DO_SPACES_BUCKET=cashflow-uploads
DO_SPACES_REGION=nyc3
DO_SPACES_ENDPOINT=https://nyc3.digitaloceanspaces.com

HELIUS_API_KEY=your_helius_api_key
FIREBASE_SERVICE_ACCOUNT_KEY=your_firebase_service_account_key_base64

HELIUS_WEBHOOK_SECRET=random_string_to_validate_helius_webhooks
WEBHOOK_BASE_URL=https://api.cashflow.fun 