PORT=3000
MONGODB_URI=mongodb://localhost:27017/cashflow
NODE_ENV=development
JUPITER_API_KEY=your_jupiter_api_key_here
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
DRIFT_PRIVATE_KEY=your_drift_private_key_here
DEV_PRIVATE_KEY=your_dev_private_key_here # for development & testing. no need for prod
JITO_AUTH_UUID=your_jito_auth_uuid_here
ADMIN_PRIVATE_KEY=your_base64_private_key # payer of lookup table updates
BACKEND_URL=https://api-dev.cashflow.fun
BREVO_API_KEY=your_brevo_api_key_here